# Please write the same values as described in your `src/viewer/.env` file
origin_domain=""
viewer_domain=""

# Lambda Function URLs endpoint which you can confirm by `serverless info` command
lambda_url=""

# Basic auth id/password for cameraroll
basic_id=""
basic_pw=""
