# S3 static domain name
origin_domain=""

# CloudFront alternative domain name
viewer_domain=""

# Lambda Function URLs endpoint which you created by serverless
lambda_url=""

# Basic auth id/password for cameraroll
basic_id=""
basic_pw=""