<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ .Metadata.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style media="screen">
    <!--
      body {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
      }

      div#photo {
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url({{ .Url }});
      }

      ul#exif {
        text-align: center;
        list-style-type: none;
        margin-top: 4rem;
      }

      li#title {
        font-size: 1.2rem;
        font-weight: bold;
      }

      li#camera/lens {
        font-size: 1.1rem;
      }

      li#camera/lens, li#focal_length, li#F, li#SS, li#ISO {
        display: inline;
      }
    -->
    </style>
  </head>
  <body>
    <div id="photo"></div>
    <div>
      <ul id="exif">
        <li id="title">{{ .Metadata.Title }}</li>
        <li id="camera/lens">{{ .Metadata.Camera }} / {{ .Metadata.Lens }}</li>
        <li id="focal_length">{{ .Metadata.FocalLength }}mm, F{{ .Metadata.F }}, {{ .Metadata.SS }}s, ISO{{ .Metadata.ISO }}</li>
        <li id="timestamp"></li>
      </ul>
    </div>
  <script>
    const dt = new Date({{ .Metadata.Timestamp }} * 1000);
    document.querySelector('#timestamp').insertAdjacentText('afterbegin', `Shot on ${dt.toLocaleString()}`);
  </script>
  </body>
</html>
