<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Camera Roll</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style media="screen">
    <!--
      body {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
      }
      li {
        display: inline-block;
      }
      .thumbnailBox {
        position: relative;
      }
      .thumbnailBox button {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }
      .thumbnailBox:hover button {
        display: block;
      }
      #cameraroll-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust as needed */
        gap: 10px; /* Adjust as needed */
        padding: 10px;
      }
      @media (min-width: 600px) {
        #cameraroll-grid {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
      }

      @media (min-width: 900px) {
        #cameraroll-grid {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
      }
    -->
    </style>
  </head>
  <body>
    {{ $origin := .OriginDomain }}
    {{ $viewer := .ViewerDomain }}
    {{ $lk := .LastKey }}
    {{ $isPrivate := .IsPrivate }}
    <div id="cameraroll-grid">
      {{ range $i, $thumb := .Thumbnails }}
        {{ if or (and $isPrivate $thumb.Private) (and (not $isPrivate) (not $thumb.Private)) }}
          <li>
            <div class="thumbnailBox" id="{{ $thumb.Timestamp }}" data-timestamp="{{ $thumb.Timestamp }}">
              <a href="https://{{ $viewer }}/image/{{ $thumb.Id }}"><img data-src="https://{{ $origin }}/thumbnail/{{ $thumb.Id }}" width="133" height="133" class="thumbnailImage" data-private="{{ $thumb.Private }}" /></a>
              {{ if not $thumb.Private }}
                <button id="copybtn{{ $i }}" onclick='copy("{{ $thumb.Id }}", {{ $thumb.Width }}, {{ $thumb.Height }}, {{ $i }})'>📋</button>
              {{ end }}
            </div>
          </li>
        {{ end }}
      {{ end }}
    </div>
    <p>
      {{ if ne .PrevLink "" }}
        <a href="{{ .PrevLink }}">Previous</a> &#124;
      {{ end }}
      <a href="/cameraroll/">Home</a>
      {{ if ne .NextLink "" }}
      &#124; <a href="{{ .NextLink }}">Next</a>
      {{ end }}
    </p>
    <p id="private_mode">
      <input type="checkbox" id="privateModeCheckbox"> Switch to private mode
    </p>
    <p id="copyinfo">
      Copy the HTML tag to clipboard by clicking the 📋 button.
    </p>
    <script src="https://{{ $origin }}/assets/generate_access_token.js"></script>
    <script>
      const salt = "{{ .SaltForPrivateImage }}";

      // Check the checkbox if 'private=true' is already in the URL
      const urlParams = new URLSearchParams(window.location.search);
      const isPrivate = urlParams.has('private') && urlParams.get('private') === 'true';

      // Load images
      (async function() {
        document.addEventListener('DOMContentLoaded', async function() {
          const images = document.querySelectorAll('img.thumbnailImage');
          if (!isPrivate) {
            images.forEach(img => {
              img.src = img.dataset.src;
            });
          } else {
            for (const img of images) {
              const url = new URL(img.dataset.src);
              const key = url.pathname; // Keep leading slash
              const token = await generateToken(key, salt);
              const imageUrl = new URL(img.dataset.src);
              imageUrl.searchParams.set('token', token);
              img.src = imageUrl.toString();
            }
          }
        });
      })();

      function copy(key, w, h, id) {
        const tag = '<img class="load-exif" src="https://{{ $origin }}/' + key + '" width="' + w + '" height="' + h + '" loading="lazy">';
        navigator.clipboard.writeText(tag);
        let btn = document.getElementById("copybtn" + id);
        btn.innerText = "✅";
      }

      const privateModeCheckbox = document.getElementById('privateModeCheckbox');
      if (isPrivate) {
        privateModeCheckbox.checked = true;
      }
      privateModeCheckbox.addEventListener('change', function() {
        const currentUrl = new URL(window.location.href);
        // Remove all existing query parameters
        currentUrl.pathname = '/cameraroll/';
        currentUrl.search = '';
        if (this.checked) {
          currentUrl.searchParams.set('private', 'true');
        }
        window.location.href = currentUrl.toString();
      });
    </script>

  </body>
</html>
